<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:page_title)%> | Messenger</title>
      <%= csrf_meta_tags %>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>  
  </head>

  <body>
    <%= render 'layouts/navbar' %>

  	<div class="container <%= controller_name %> <%= action_name %>" style="margin-top: 70px;" >

      <%- if flash.any? %>
        <% flash.each do |name, msg| %>
          <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <%= msg %>
          </div>
        <% end %>
      <% end %>

      <% if controller_name == 'chatrooms' && (action_name == 'index' || action_name == 'show') %>
        <div class="row">
          <div class="col-sm-2 chat_sidebar">
            <div class="row">
              <div class="member_list">
                 <ul class="list-unstyled">
                    <% current_user.chatrooms.each do |chatroom| %>
                      <% unless chatroom.messages.last.nil? %>
                        <% if current_user.chatroom_users.where(chatroom_id: chatroom.id).first.last_read_at < chatroom.messages.last.created_at %>
                          <%= link_to chatroom, data: {behavior: "chatroom-link", chatroom_id: chatroom.id}, style: "color: red;" do %>
                            <% if chatroom.name.include? "one-to-one" %>
                              <li class="left clearfix">
                                 <span class="chat-img pull-left">
                                    <%= image_tag other_user_avatar(chatroom), class: "round-image-30" %>
                                 </span>
                                 <div class="chat-body clearfix">
                                    <div class="header_sec">
                                      <%= other_user_name(chatroom) %>
                                    </div>
                                 </div>
                              </li>
                            <% else %>
                              <li class="left clearfix">
                                 <span class="chat-img pull-left">
                                    <%= image_tag "http://icons.iconarchive.com/icons/graphicloads/100-flat-2/256/chat-2-icon.png", class: "round-image-30" %>
                                 </span>
                                 <div class="chat-body clearfix">
                                    <div class="header_sec">
                                      <%= chatroom.name %>
                                    </div>
                                 </div>
                              </li>                          
                            <% end %>
                          <% end %>
                        <% else %>
                          <%= link_to chatroom, data: {behavior: "chatroom-link", chatroom_id: chatroom.id} do %>
                            <% if chatroom.name.include? "one-to-one" %>
                              <li class="left clearfix">
                                 <span class="chat-img pull-left">
                                    <%= image_tag other_user_avatar(chatroom), class: "round-image-30" %>
                                 </span>
                                 <div class="chat-body clearfix">
                                    <div class="header_sec">
                                      <%= other_user_name(chatroom) %>
                                    </div>
                                 </div>
                              </li>
                            <% else %>
                              <li class="left clearfix">
                                 <span class="chat-img pull-left">
                                    <%= image_tag "http://icons.iconarchive.com/icons/graphicloads/100-flat-2/256/chat-2-icon.png", class: "round-image-30" %>
                                 </span>
                                 <div class="chat-body clearfix">
                                    <div class="header_sec">
                                      <%= chatroom.name %>
                                    </div>
                                 </div>
                              </li>                          
                            <% end %>
                          <% end %>  
                        <% end %>  
                      <% else %>
                        <%= link_to chatroom, data: {behavior: "chatroom-link", chatroom_id: chatroom.id} do %>
                          <% if chatroom.name.include? "one-to-one" %>
                            <li class="left clearfix">
                               <span class="chat-img pull-left">
                                  <%= image_tag other_user_avatar(chatroom), class: "round-image-30" %>
                               </span>
                               <div class="chat-body clearfix">
                                  <div class="header_sec">
                                    <%= other_user_name(chatroom) %>
                                  </div>
                               </div>
                            </li>
                          <% else %>
                            <li class="left clearfix">
                               <span class="chat-img pull-left">
                                  <%= image_tag "http://icons.iconarchive.com/icons/graphicloads/100-flat-2/256/chat-2-icon.png", class: "round-image-30" %>
                               </span>
                               <div class="chat-body clearfix">
                                  <div class="header_sec">
                                    <%= chatroom.name %>
                                  </div>
                               </div>
                            </li>                          
                          <% end %>
                        <% end %>
                      <% end %>
                    <% end %>
                 </ul>
              </div>
            </div>
          </div>
          <%= yield %>
        </div>
      <% else %>
        <%= yield %> 
      <% end %>
    </div>
  </body>
</html>
